= "Event for: #{@month}/#{@day}/#{@year}"
%br
Here are the events for this day:
%br
#this_event{ :monthyear => "#{@month}_#{@day}" }
  = get_days_events(@year, @month, @day)
  %br
%p
  .success
    Your event was scheduled successfully! An email was sent to the clubhouse administrator for further action.